@import "variables";

.header-slot {
    height: 225px;
    width: 100%;
    background-color: $coagulatedBlood;
    position: relative;
}

.logo {
    color: $medRed;
    font-size: 64px;
    padding-left: 25px;
}

.home {
    position: absolute;
    top: 75px;
    left: 85%;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    background-image: url("./img/home.png")
}

.logo, .home {
    line-height: 225px;
}