<div class="category-select">
    <input type="dropdown">
</div>
<div class="title">
Title:<input>
</div>
<div class="text-area">
    <textarea>
    Start raving...
    But, be advised, Respect
    other people's beliefs, cultures,
    and personal identities. Profanities
    will be edited out. This is
    a forum to air grievences not
    to promote hate fueled vulgarity.
    </textarea>
</div>
<div class="buttons">
    <button class="cancel">Cancel</button>
    <button class="captcha">I am not a robot</button>
    <button class="submit">Submit</button>
</div>