<div class="intro">
    Do you find that you are 
    ranting and raving at yourself,
    About something that happened
    during your day? Don't beat
    youself up. Put it in
    writing anonymously and share
    it with your area.
</div>
<div class="categories">
<h1 class="heading">Categories</h1>
<hr>
    <button class="category-topic" data-category="family">Family</button>
    <button class="category-topic" data-category="work">Work</button>
    <button class="category-topic" data-category="school">School</button>
    <button class="category-topic" data-category="social">Social</button>
    <button class="category-topic" data-category="food">Food</button>
    <button class="category-topic" data-category="misc">Misc</button>
</div>
<div class="rants"></div>
<div class="new-rant">
    <h2 class="subHeading">Share an anonymous rant now!!!</h2>
    <button class="create">Start a Rant</button>
</div>