<div class="intro">
    Do you find yourself ranting
    and raving at yourself,
    About something that happened
    during your day? Don't beat
    youself up. Put it in
    writing anonymously and share
    it with your area
</div>
<div class="categories">
Categories
    <button class="family">Family</button>
    <button class="work">Work</button>
    <button class="school">School</button>
    <button class="social">Social</button>
    <button class="food">Food</button>
    <button class="misc">Misc</button>
</div>
<div class="new-rant">
    Share an anonymous rant now!!!
    <button class="create">Start a Rant</button>
</div>